@import url("./form1.css");
@import url("./form3.css");
@import url("../css/variaveis.css");

.terceiro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--White-color);
    background-color: transparent;
    margin-top: 30px;
    font-family: var(--font-ubunto);
    font-weight: 700;
    color: var(--White-color);
}
.quarto {
    background-color: var(--Light-color-blue);
    border: none;
    color: var(--Marine-color-blue);
}

.confirmacao {
    background-color: var(--Magnolia-color);
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.confima-itens {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.itens {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 10px;
}

.titulo-servico {
    font-weight: 700;
    color: var(--Marine-color-blue);
    font-size: var(--font-size);
}

.preco-adicional {
    font-weight: 700;
    color: var(--Marine-color-blue);
    font-size: var(--font-size);
    margin-right: 10px;
}
hr {
    height: 1px;
    background-color: var(--Light-color-gray);
    border: none;
    width: 95%;
}

.verifica-servico {
    display: flex;
    justify-content: space-between;
    margin: 0 10px 10px 10px;
    color: var(--Cool-colorgray);
}

.container-total {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.text-total {
    margin-left: 10px;
}
.valor-total {
    margin-right: 10px;
}

.text-info {
    color: var(--Cool-colorgray);
    font-family: var(--font-ubunto);
}

.text-preco {
    font-family: var(--font-ubunto);
    color: var(--Marine-color-blue);
    font-weight: 400;
}
.text-total {
    color: var(--Cool-colorgray);
    font-family: var(--font-ubunto);
}
.valor-total {
    font-family: var(--font-ubunto);
    color: var(--Purplish-color-blue);
    font-weight: 700;
}
